/auth.json
/.codex
/.cursor/
.DS_Store
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
/.idea
_ide_helper.php
*.log
/node_modules
/.nova
.phpactor.json
/.phpunit.cache
.phpunit.result.cache
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/static
/public/storage
/public/vendor/statamic
/.scratch
/storage/*.key
/storage/pail
/storage/static
/.superpowers
Thumbs.db
/vendor
/.vscode
/.zed
